@model Blog.Entities.Post

@{
    ViewData["Title"] = "Details";
}
<div>


    <h4 class="text-center">
        @Html.DisplayFor(model => model.Title)
    </h4>
    <hr />
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>

    <hr />
    <p>
        @Html.DisplayFor(model => model.PublishedAt) |
        @Html.DisplayFor(model => model.Author.FullName)
    </p>

</div>
<div>

    <a asp-action="Index">Back to Posts</a>
</div>
